* {
  margin: 0;
  padding: 0;
}

@font-face {
  font-family: Sora;
  src: url("./font/Sora-VariableFont_wght.ttf");
}

body {
  font-family: Sora, sans-serif;
  background: #f3f3eb;
}

.card {
  max-width: 400px;
  margin: 164px auto;
  border-radius: 10px;
  background: #ffffff;
  box-sizing: border-box;
}

.card {
  padding: 16px 16px 20px 16px;
  border-bottom: 1px solid #e5eaf0;
}

.card-img {
  width: 100%;
  border-radius: 10px;
  margin-bottom: 16px;
}

.tag {
  display: inline-block;
  line-height: 1;
  padding: 6px 16px;
  background: #e6d6fc;
  border-radius: 20px;
  font-size: 10px;
  color: #883ae1;
  font-weight: bold;
  margin-bottom: 16px;
}

.card-title {
  font-size: 18px;
  margin-bottom: 6px;
  font-weight: 600;
  color: #20293a;
}

.card-text {
  font-size: 14px;
  color: #6c727f;
  font-weight: 300;
  line-height: 1.5;
}

.card-author {
  display: inline-block;
  color: #6c727f;
  font-size: 12px;
  margin-top: 25px;
}

hr {
  margin-top: 20px;
  margin-left: -17px;
  margin-right: -18px;
}
